{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}

<div class="container">
    <div style="position: relative; text-align: center;">
        <img style="width: 100%; margin: 0 auto; border: 0px solid #ccc; padding: 10px;" src="/static/welcome2.jpeg" alt="Description of the image">
        <div style="position: absolute; top: 50%; right: 15%; transform: translateY(-50%); color: #fff; font-size: 27px; font-weight: bold;">
            Shopping Online
        </div>
    </div>
</div>


<div class="container mt-4">
  
    <h2>Products</h2>
  
  <div class="row">
    {% for product in products %}
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename=product[6]) }}" class="card-img-top" alt="Product Image" style="height: 500px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ product[2] }}</h5>
          <p class="card-text">{{ product[4] }}</p>
          <p class="card-text" style="color: #ff0000;">{{ product[5] }} ₺ </p>
          <a href="{{ url_for('detail', id=product[0]) }}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}

